extends ./layout.jade

block content
  div(class='container main')
    i.fa.fa-tachometer.fa-5x.green
    h2(class='title') Dashboard
    p(class='empty-meta') Manage your own Polls!
    div.columns
      div.column.col-6.centered
        div.btn-group
          button#new.btn New Poll
          button#my.btn My Polls
  block poll
