extends ./layout.jade

block content
  div(class='container main')
    img(src='/public/img/vote.png' class='img-responsive centered')
    h2(class='title') PollStar App
    p(class='empty-meta') Voting your favorite options in great polls!
  div.columns
    div.column
      div.empty
        i.fa.fa-bolt.fa-5x
        p.empty-title Fast and clean
        p.empy-meta Great graphics and fast response
    div.column
      div.empty
        i.fa.fa-mobile.fa-5x
        p.empty-title Responsive Design
        p.empy-meta Work on tablets, mobile and your desktop
    div.column
      div.empty
        i.fa.fa-twitter.fa-5x
        p.empty-title Social Integration
        p.empy-meta Sign on Twitter and you are ready for create polls
            
