<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
		<title>Voting Camp :: Back End Basejump FreeCodeCamp</title>
    <link href="/public/css/spectre.css" rel="stylesheet" type="text/css">
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
	</head>

	<body>
    <header class="navbar">
      <section class="navbar-section">
        <a href="#" class="btn btn-link btn-lg">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
        <a href="/" class="navbar-brand">Voting Camp</a>
      </section>
      <section class="navbar-section">
        <span>Welcome!</span>
        <a href="/login/twitter" class="btn btn-primary"><i class="fa fa-twitter" aria-hidden="true"></i> Sign In</a>
        <a href="#" class="btn btn-link"><i class="fa fa-cog" aria-hidden="true"></i></a>        
      </section>
    </header>
		<div class="container grid-960">
      <div class="empty">
        <img src="/public/img/vote.png" class="img-responsive centered" />
        <h2 class="title">Voting Camp App</h2>
        <p class="empty-meta">Voting your favorite option, great polls!</p>
      </div>
		</div>
    <div class="container">
        <div class="columns">
          <div class="column col-6 centered">
            <form>
            <div class="input-group column">
                <input type="file" name="file" id="file" class="inputfile">
                <label for="file">Choose a file</label>
                <span class="file_size"></span>
                <button id="upload" class="btn btn-primary input-group-btn">Upload!</button>
            </div>
            </form>
            <br />
            <p class="text-center">by <a href="https://codepen.io/mirabalj">@mirabalj</a></p>
          </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>
    <script type="text/javascript" src="/controllers/clickController.client.js"></script>
	</body>

</html>
