doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title!= title
    link(href='/public/css/spectre.css', rel='stylesheet')
    link(href='/public/css/main.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css', rel='stylesheet')
    block css
  body
    header(class='navbar')
      section(class='navbar-section')
        a(class='btn btn-link btn-lg' href='/')
          i(class='fa fa-bars')
        a(class='navbar-brand' href='/') PollStar
      section(class='navbar-section')
        a(class='btn btn-link' href='/polls') Show Polls      
        if !user
          span Welcome, Do I know you?
          a(class='btn btn-primary' href='/login/twitter')
            i(class='fa fa-twitter' aria-hidden='true')
            |  Sign In
        else
          a(class='btn btn-link' href="/admin") Dashboard
          span Welcome #{user.twitter.name} !
          a(class='btn btn-link' href='#')
            i(class='fa fa-cog' aria-hidden='true')          
          a(class='btn btn-primary' href='/logout') Logout
    block content
    br/
    p.text-center developed by 
      a(class="credits" href="https://codepen.io/mirabalj" target="_blank") @mirabalj
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js', type='text/javascript')
    script(src='/controllers/clickController.client.js', type='text/javascript')
    block js
