extends ./dashboard.jade

block poll
  div#poll.columns
    div.column.col-6.centered
      div.hide
        div.toast.toast-success
          button(class='btn btn-clear float-right')
          span
            i.fa.fa-exclamation-circle
            span#message  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        a#go_poll(class='btn btn-link' href='#') Go to Poll!
      form#new_poll
        h2.green New Poll
        div.form-group
          label(class='form-label' for='title') Title of your Poll
          input(class='form-input' type='text' name='title' id='title' placeholder='What about is this poll?')
        div#options.form-group
          label(class='form-label') Options
          input(class='form-input' type='text' name='options[]' placeholder='Your first option!')
          input(class='form-input' type='text' name='options[]' placeholder='Other option...')
        br/
        div.form-group
          a(class='btn btn-link' id='more') More options
          button(class='btn btn-primary') Create poll

            
