.navbar {
  background: #727272;
}

.navbar span {
  color: #fff;
  margin-right: 10px;
}

.main {
  background: #B2DFDB;
  text-align: center;
  padding: 10px 0 10px 0;
}

.title {
  color: #727272;
}

.empty-title {
  color: #44B39B;
}

.empty .fa-bolt {
  color: #FFC107;
}

.empty .fa-twitter {
  color: #1976D2;
}

.empty .fa-mobile {
  color: #212121;
}

.green {
  color: #44B39B;
}

#poll {
  text-align: center;
}

.navbar .btn-link:hover, .navbar-brand:hover {
  color: #fff;
}

#poll .btn-link:hover {
  color: #727272;
}

.table {
  margin: 0 auto;
}

.toast {
  text-align: left;
}
